extends layout

block content
  h1= data.id
  table
    thead
      td Name
      td Value
    tr
      td Last
      td #{data.last}
    tr
      td Volume
      td #{data.volume}
    tr
      td Ask
      td #{data.ask}
    tr
      td Bid
      td #{data.bid}
    tr
      td Percent change
      td #{data.percentChange}
